.DS_Store
*.lis
.idea/
.claude/
main.ini
**/dump/
**/cfg/
/tools/dump.bin
/tools/6331.speech-u30
/tools/1872.speech-u5
/tools/1871.speech-u6
/tools/1670.speech-u7
**/speech/unused
**/roms

**/build/*
!/**/build/startrek.zip
!/**/build/art/
/**/build/art/*
!/**/build/art/*.h
!/**/build/speech/
/**/build/speech/*
!/**/build/speech/*.lpc
!/**/build/speech/*.bin
